/* General */
body{
    width: 800px; 
    margin: 0 auto;

}
img{
    width: 220px;
    height: 200px;
    border: 1px solid #ddd;

}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("images/image1.jpg");
    
}

